@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply !min-w-full;
}

.swiper-pagination {
  position: absolute;
  width: auto !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0;
  margin-bottom: 20px;
}

.swiper-pagination-custom-bullet {
  background-color: #e04c1c; /* White with 50% opacity */
  width: 12px;
  height: 12px;
  border-radius: 100%;
  transition: background-color 0.3s ease;
}

.swiper-pagination-custom-bullet.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 1); /* Fully white */
}
